<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style(type='text/css')
            include ../style/main.css
    body
        .mail
            .mail__content
                h2 Восстановление пароля на <span>toffee.menu</span>
                p Был запрошен сброс пароля для компании <span>"#{name}"</span>
                p Код для восстановления пароля <span>#{code}</span>
                p Проигнорируйте данное сообщение, если это были не вы
