.footer {
    background-color: $color-black;
    padding: 20px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__item {
        margin: 0 10px;
        &-text {
            color: white !important;
            text-decoration: none;
            font-size: 14px;
            font-weight: lighter;
        }
    }
}