.footer {
    background-color: $color-black;
    padding: 15px 0 70px;
    @media screen and (min-width: 768px) {
        padding: 20px 0 70px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        &.-row {
            flex-direction: row;
            justify-content: center;
        }
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__item {
        margin: 0 5px;
        img {
            width: 38px;
        }
        @media screen and (min-width: 768px) {
            margin: 0 10px;
        }
        &-text {
            color: white !important;
            text-decoration: none;
            font-size: 12px;
            font-weight: lighter;
            @media screen and (min-width: 768px) {
                font-size: 14px;
            }
        }
    }
}