.m-form {
    margin-bottom: 15px;
    display: flex;
    &__input {
        position: relative;
        flex-grow: 1;
        margin-right: 22px;
        padding: 1px;
        border: 2px solid transparent;
        border-radius: 4px;
        transition: border-color .3s;
        &.focused {
            border: 2px solid $color-blue;
        }
    }
}