.m-welcome {
    &__inner {
        display: flex;
        align-items: center;
        margin: auto;
        padding: 100px 0 50px 0;
        @media screen and (min-width: 768px) {
            height: 100vh;
            min-height: 630px;
            max-height: 700px;
        }
        @media screen and (min-width: 1020px) {
            padding: 100px 0 70px;
        }
    }
    &__content {
        width: 100%;
        max-width: 450px;
        margin-right: auto;
        flex-shrink: 0;
        @media screen and (min-width: 1020px) {
            max-width: none;
            width: 600px;
            margin-right: auto;
        }
        @media screen and (min-width: 1280px) {
            margin-right: 150px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 29px;
        line-height: 1.2;
        margin-bottom: 10px;
        @media screen and (min-width: 370px) {
            font-size: 32px;
        }
        @media screen and (min-width: 390px) {
            font-size: 36px;
        }
        @media screen and (min-width: 1020px) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 15px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 5px !important;
        display: none;
        &.-mobile {
            display: block;
        }
        @media screen and (min-width: 768px) {
            font-size: 20px;
            display: block;
            min-height: unset;
            margin-bottom: 16px !important;
            &.-mobile {
                display: none;
            }
        }
        span.typed {
            color: $color-black;
        }
    }
    &__note {
        font-size: 12px;
        line-height: 16px;
        color: $color-grey-dark;
        margin-bottom: 0;
    }
    &__try {
        font-size: 18px;
        text-decoration: none;
        color: $color-blue;
        margin-left: 15px;
        display: inline-block;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__media {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            width: 100%;
            overflow: hidden;
            position: relative;
            max-width: 330px;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 0 30px rgba(0,0,0,0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: url('../static/papyrus-dark.png');
            background-size: cover;
            background-position: center;
        }

        @media screen and (min-width: 1020px) {
            max-width: 380px;
        }

        video {
            max-width: 120%;
            height: auto;
            display: block;
            // height: 420px;
            // width: 100%;
            // border-radius: 20px;
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
        }
        &-qr {
            width: 100%;
            margin-bottom: 15px;
        }
        &-text {
            text-align: center;
            color: white;
            font-size: 14px;
            a {
                color: $color-blue;
                font-weight: bold;
                text-decoration: none;
            }
            @media screen and (min-width: 1020px) {
                font-size: 16px;
            }
        }
    }
}