.m-welcome {
    &__inner {
        display: flex;
        align-items: center;
        height: 100vh;
    }
    &__content {
        width: 600px;
        margin-right: 128px;
        flex-shrink: 0;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 30px;
    }
    &__note {
        font-size: 12px;
        line-height: 18px;
        color: $color-grey-dark;
    }
    &__media {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        video {
            max-width: 120%;
            height: auto;
            display: block;
            // height: 420px;
            // width: 100%;
            // border-radius: 20px;
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
        }
    }
}