.menu-item {
    position: relative;
    transition: transform .1s;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    &.flash {
        transform: scale(0.95);
    }
    &__img {
        position: relative;
        z-index: 2;
        .slick-slider {
            position: relative;
            z-index: 6;
            margin-bottom: -6px;
        }
        &-pic {
            background-position: center;
            background-size: cover;
            padding-bottom: 100%;
            display: block;
            position: relative;
            z-index: 6;
            img {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                pointer-events: none;
                max-width: 100%;
                height: 100%;
                display: block;
            }
            &.placeholder {
                position: relative;
                z-index: 2;
                background-size: contain;
                opacity: 0.2;
                background-repeat: repeat;
            }
        }
    }
    &__content {
        padding: 8px;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        &-inner {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    &__button {
        width: 100%;
        padding: 7px 10px;
        background-color: rgb(224, 223, 223);
        border-radius: 14px;
        font-size: 16px;
        text-transform: none;
        cursor: pointer;
        position: relative;
        z-index: 4;
        text-align: center;
        &:after {
            content: '';
            position: absolute;
            left: -5px;
            right: -5px;
            top: -5px;
            bottom: -5px;
        }
    }
    &__bottom {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        &-item {
            .v-icon {
                margin-left: 10px;
            }
            .v-btn {
                margin-left: 0;
            }
            &.desktop {
                display: none;
                @media screen and (min-width: 1280px) {
                    display: block;
                }
            }
            &.mobile {
                @media screen and (min-width: 1280px) {
                    display: none;
                }
            }
            &.handles {
                cursor: pointer;
                position: relative;
                margin-left: auto;
                .v-icon {
                    font-size: 30px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: -5px;
                    top: -5px;
                    right: -5px;
                    bottom: -5px;
                }
            }
        }
    }
    &__more {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    &__counter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 14px;
        // margin-top: 10px;
        position: relative;
        z-index: 4;

        &-control {
            border-radius: 5px;
            background-color: rgb(224, 223, 223);
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 14px;
            cursor: pointer;
            .v-icon {
                pointer-events: none;
            }
        }
        &-value {
            font-weight: bold;
            text-align: center;
            line-height: 1.2;
            &-price {
                font-weight: normal;
                color: $color-black;
                opacity: 0.9;
                font-size: 14px;
            }
        }
    }
    &__price {
        line-height: 14px;
        font-size: 14px;
        color: $color-black;
        margin-top: 5px;
        height: 14px;
        &-radio {
            visibility: hidden;
            opacity: 0;
            position: absolute;
        }
        &-label {
            color: rgb(163, 163, 163);
            font-size: 14px;
            line-height: 1.3;
            &.-admin {
                display: flex;
                flex-direction: column;
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid rgb(163, 163, 163);
                &:last-child {
                    margin-bottom: 0;
                    border: none;
                }
            }
        }
    }
    &__name {
        margin-bottom: 4px;
        line-height: 1.3;
        color: $color-black;
        &-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 1.2;
            margin-bottom: 3px;
        }
        &-translation {
            font-size: 12px;
            opacity: 0.9;
            @media screen and (min-width: 1000px) {
                font-size: 14px;
            }
        }
        &-descr {
            font-size: 14px;
            line-height: 1.2;
            white-space: pre-wrap; 
            word-wrap: break-word;
            max-height: 66px;
            overflow: hidden;
        }
    }
    &__data {
        color: $color-black;
        display: flex;
        &-calories {
            font-size: 12px;
            opacity: .9;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            span {
                display: block;
                margin-right: 5px;
            }
            @media screen and (min-width: 1000px) {
                font-size: 14px;
                span {
                    display: inline-block;
                }
            }
        }
    }
    &__options {
        color: $color-black;
        font-size: 14px;
        opacity: .9;
    }
    &__vegan {
        position: absolute;
        left: 0;
        top: 15px;
        background-color: #fff;
        border-radius: 5px;
        padding: 2px 5px;
        font-size: 12px;
        padding-left: 25px;
        z-index: 5;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        &:before {
            content: '';
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-size: cover;
            background-image: url('../static/icons8-vegetarian-mark-48.png');
        }
    }
}