.previews {
    span {
        display: flex;
        flex-wrap: wrap;
    }
}

.preview {
    width: 23.5%;
    margin: 0 2% 2% 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    overflow: hidden;
    &:nth-child(4n) {
        margin-right: 0;
    }

    &__img {
        position: relative;
        display: block;
        width: 100%;
        padding-bottom: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            image-rendering: -webkit-optimize-contrast;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        &-item {
            cursor: pointer;
            margin: 0 2px;
            
            .v-icon {
                color: $color-black;
                font-size: 20px;
                &.trash {
                    color: $color-red;
                }
            }
        }
    }
}