.subs {
    margin: 30px 0;
    &__title {
        text-align: center;
        font-size: 28px;
        color: $color-black;
        @media screen and (min-width: 768px) {
          font-size: 38px;
        }
      }
      &__subtitle {
        color: $color-black;
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
          font-size: 20px;
        }
      }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            // align-items: center;
            align-items: flex-start;
        }
    }
    &__item {
        border: 3px solid #F5F7FB;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        border-radius: 16px;
        max-width: 350px;
        padding: 20px 15px;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            padding: 20px;
            width: 50%;
            margin: 0 10px 0;
        }
        @media screen and (min-width: 1280px) {
            margin: 0 20px;
        }
        &-title {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
            color: $color-black;
        }
        &-content {
            margin-bottom: auto;
        }
    }
    &__list {
        margin-bottom: 20px;
        &-item {
            margin-bottom: 12px;
            display: flex;
            &:last-child {
                margin-bottom: 0;
            }
            
            &-icon {
                margin-right: 10px;
                margin-top: -2px;
                .v-icon {
                    color: #61a7fd;
                }
            }
            &-text {
                line-height: 1.3;
            }
        }
    }
    &__note {
        margin: 10px 0;
        text-align: center;
        font-size: 12px;
        padding: 0 15px;
        @media screen and (min-width: 768px) {
            margin: 20px 0;
            font-size: 14px;
        }
        a {
            text-decoration: none;
            color: $color-blue;
        }
    }
    &__plan {
        position: relative;
        margin-bottom: 15px;
        border-radius: 10px;
        color: #fff !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.12);
        min-height: 70px;
        cursor: pointer;
        text-decoration: none;
        &.-blue {
            background-color: #61a7fd;
        }
        &.-orange {
            background-color: #fda076;
        }
        &.-voilet {
            background-color: #7476da;
        }
        &.-transp {
            color: $color-black !important;
            border: 2px solid rgb(236, 236, 236);
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-btn {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            cursor: pointer;
            width: 100%;
        }
        &-period {
            font-size: 18px;
            font-weight: bold;
            span {
                display: block;
                font-size: 14px;
                line-height: 1.3;
                font-weight: normal;
            }
        }
        &-price {
            text-align: right;
            &-value {
                font-size: 24px;
                font-weight: bold;
            }
            &-sale {
                font-size: 14px;
                opacity: 0.9;
                margin-top: -7px;
            }
        }
    }
}