@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$body-font-family: 'Inter', sans-serif;
$heading-font-family: 'Inter', serif;

$color-white: #fff;
$color-black: #1F2224;
$color-blue: #307EF2;
$color-red: #E54325;
$color-green: #95C9B4;
$color-grey-dark: #6D7175;
$color-grey-dark-hover: #6D7175;
$color-grey-light: #BABFC3;
$color-grey-light-hover: #BABFC3;
$color-primary-red: #E64325;
$color-light-red: #FFF4F4;